[user]
	name   = xxx
	email  = xxx@xxx.xxx
[color]
	ui     = auto
[alias]
	st     = status
	co     = checkout
	rst    = restore
	br     = branch
	cf     = config
	fc     = fetch
	cm     = commit
	rs     = reset
        rb     = rebase
        rv     = revert
        mg     = merge
        ps     = push
        pl     = pull
        cp     = cherry-pick
        ss     = stash
        ad     = add
        df     = diff
        md     = difftool
        cl     = clean
        pr     = pull --rebase
        lg     = log
        lg1    = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
        lg2    = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --stat
        lg3    = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg4    = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all --stat
        us     = reset HEAD
        rc     = reset --hard HEAD
        sw     = switch
        ud     = reset --soft HEAD~1
        ls     = log -1 HEAD
        dl     = diff --cached HEAD~1
        bl     = blame
        bc     = branch -r --contains
        ac     = commit -a

[diff]
        tool   = meld
[difftool]
        prompt = false
[difftool "meld"]
        trustExitCode = true
        path   = /opt/homebrew/bin/meld
        cmd    = /opt/homebrew/bin/meld "$REMOTE" "$LOCAL"
[merge]
        tool   = meld
[mergetool]
        prompt = false
[mergetool "meld"]
        trustExitCode = true
        data   = /opt/homebrew/bin/meld
        cmd    = /opt/homebrew/bin/meld "$REMOTE" "$BASE" "$LOCAL" "$MERGED"
[pull]
        rebase = true
[credential]
	helper = cache
